body {
    padding-top: 60px;
    padding-bottom: 40px;
    font-size: 12pt;
}

div.container a.brand {
    background: url("../img/zf2-logo.png") no-repeat scroll 0 10px transparent;
    margin-left: 0;
    padding: 8px 20px 12px 40px;
}

/*.container{*/
    /*margin-left: inherit;*/
    /*margin-right: inherit;*/
    /*padding: 0;*/
    /*width: 100%;*/

/*}*/
/*.navbar .container {*/
    /*padding-left: 1em;*/
    /*padding-right: 1em;*/
/*}*/


body {
    background: #0b1369;
    color: #EEEEEE;
    font-family: Calibri, Arial, Helvetica, sans-serif;
}


.section.simple h1 {
    font-size: 55px;
}
.section.simple h3 {
    line-height: 1.4;
}

#section-easy {
    background: #0196ec;
    background-image: url("/img/assets/image2.png");
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
}
#section-confidence {
    background: #1d73ab;
    background-image: url("/img/assets/image3.png");
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
}
#section-convenience {
    background: #357c8d;
    background-image: url("/img/assets/image4.png");
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
}
#section-service {
    background: #015f63;
    background-image: url("/img/assets/image5.png");
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
}
section {
    padding-top: 3em;
    padding-bottom: 3em;
}
#section-lifecycle {

}
.column-block {
    padding: 1em;
    margin-bottom: 1em;
}
.column-1, .column-3 {
    margin-top: 2em;
}
#column-1-item-2,
#column-2-item-1 {
    background-color: #cbe29a;
    color: black;
}
#column-1-item-1,
.column-3 .column-block {
    background-color: #b3deff;
    color: black;
}
#column-2-item-2 {
    background-color: #ebebeb;
    color: black;
}

#order-choice {
    background: white;
    color: black;
}
.choice-item {
    display: inline-block;
}

#limited-time-block {
    border: 1px solid #015f63;
    padding: 1em;
}

#limited-time-block .title {
    margin-top: -1.8em;
    display: block;
    background: white;
}
#limited-time-block strong {
    color: #439a03;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 25px;
}
#limited-time-block strong.very-strong {
    font-size: 45px;
    margin-left: 0.15em;
    margin-right: 0.15em;
}

.fine-print {
    margin-top: 3em;
    font-size: 0.8em;
}

#order-screen {
    padding: 1em;
}

select.form-control {
    padding-left: 6px;
    padding-right: 9px;
}

.text-uppercase {
    text-transform: uppercase;
}

#overview-subscription-type {
    margin-top: 1em;
    font-weight: bold;
    font-size: 1.5em;
}

#overview-breakdown {
    border-top: 1px solid #888888;
    border-bottom: 1px solid #888888;
    padding-top: 1em;
    padding-bottom: 1em;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}
#overview-subscription,
#overview-sensor {
    border-right: 1px solid #888888;
}

.summary-xxl { font-size: 4em; }
.summary-large { font-size: 2.5em; }
.summary-medium { font-size: 1.5em; }
.summary-small { font-size: 1.3em; }
.summary-xs { font-size: 1.0em; }

.dollar-sign {
    display: inline-block;
    font-size: 1.3em;
    padding-top: 0.5em;
    vertical-align: top;
}
#promo-add {
    display: inline-block;
    line-height: 1.1;
    padding-top: 1.0em;
}
#order-total-dollar {
    vertical-align: top;
    display: inline-block;
    padding-top: 0.25em;
}
#order-submit-button {
    font-size: 1.5em;
    font-weight: bold;
    padding: 0.8em 1.0em;
    margin-top: 1.5em;
}
#overview-delivery {
    font-size: 1.3em;
    margin-top: 2em;
}
#overview-fine-print {
    font-size: 0.9em;
    margin-top: 3em;
}

@media (min-width: 768px) {
    .pull-center {
        display: inline-block;
        vertical-align: middle;
        float: none;
    }
}
.pull-center.col-md-5 {
    width: 40%;
}
.pull-center.col-md-7 {
    width: 57%;
}

/**
 * Order Choice Section
 */
#order-choice h3 {
    margin-top: 5px;
    font-size: 20px;
}
#order-choice h1 {
    margin-bottom: 5px;
}

.choice-header {
    margin-top: 25px;
    border-bottom: 1px solid #1d73ab;
}
.choice-item input {
    visibility: hidden;
}
.choice-item label {
    font-size: 25px;
    margin-bottom: 0;
    cursor: pointer;
}
.pricing-section label {
    cursor: pointer;
    font-weight: normal;
    font-size: 18px;
}
.pricing-section .row {
    margin-top: 1em;
}

.pricing-section .price-sensor,
#price-combo .price-pool
{
    border-right: 1px solid #888888;
}
#price-combo.pricing-section .price-sensor {
    border-right: none;
}

.pricing-section .subscription-yearly strong {
    color: #558855;
}
.pricing-section strong {
    font-size: 45px;
    text-transform: uppercase;
    font-weight: bold;
}

.pricing-section .price-per-month {
    font-size: 20px;
}
.pricing-section .price-dollar {
    display: inline-block;
    vertical-align: top;
    font-size: 20px;
    padding-top: 10px;
}
#price-combo.pricing-section .combo-pricing-detail-row .price-per-month { font-size: 15px; }
#price-combo.pricing-section .combo-pricing-detail-row .price-dollar {font-size: 15px; padding-top: 8px;}
#price-combo.pricing-section .combo-pricing-detail-row .price-sub-text {font-size: 10px; }
#price-combo.pricing-section .combo-pricing-detail-row strong {  font-size: 30px; }
#price-combo.pricing-section .combo-pricing-detail-row { margin-top: 3px; }
#price-combo.pricing-section .combo-pricing-detail-row { line-height: 1.1; }
#price-combo.pricing-section .price-sensor { line-height: 1.1; }
#limited-time-block .promo {
    font-size: 22px;
}

/* Override the default tab stylings */
.pricing-section .nav-tabs
.choice-item.checked label {
    border-bottom: 3px solid #1d73ab;
}
#place-order-button {
    background-color: #1d73ab;
    color: white;
    padding: 0.5em 0.8em;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
}


/**
 * Lifecycle
 */

#section-lifecycle .title {
    font-size: 1.5em;
    margin-bottom: 0.25em;
}
#section-convenience {
    padding-top: 120px;
    padding-bottom: 120px;
}
#section-easy {
    padding-top: 120px;
    padding-bottom: 40px;
}
#section-confidence,
#section-service {
    padding-top: 120px;
    padding-bottom: 120px;
}

input.error, select.error {
    border: 3px solid #8b0100;
    background-color: #ffe7e2;
}


/* ORDER SECTION TABS */
.nav-tabs {
    border-bottom: 1px solid #1d73ab;
    font-size: 24px;
    padding-left: 35%;
}
.nav > li > a {
    padding: 5px 20px;
}
.nav-tabs > li > a,
.nav-tabs > li > a:hover,
.nav-tabs > li > a:focus {
    color: #333333;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
    background-color: transparent;
    border-color: transparent;
    border-bottom: 3px solid #1d73ab;
    color: #1d73ab;
}

.tab-content {
    /*min-height: 235px;*/
    line-height: 1.1;
}

.pricing-section {
    padding-top: 30px;
}


#convenience-splash, #easy-splash {
    text-align: center;
}

.divider {
    background-size: contain;
    background-repeat: no-repeat;
    width: 78px;
    height: 78px;
    display: inline-block;
    margin-top: 25px;
    margin-bottom: 25px;
}
.icon-bulb {
    background-image: url("/img/assets/icon1.png");
}
.icon-leaf {
    background-image: url("/img/assets/icon2.png");
}
.icon-wrench {
    background-image: url("/img/assets/icon4.png");
}
.icon-phone {
    background-image: url("/img/assets/icon5.png");
}

.column-image {
    text-align: center;
}

#collage-section {
    background-color: white;
}

.column-block {
    padding: 30px;
}
#column-1-item-2 {
    background-image: url("/img/assets/image_collage2.png");
    background-position: top left;
    background-repeat: no-repeat;
    background-clip: padding-box;
    background-size: 130px;
    padding: 70px 30px 70px 140px;
}
#column-2-item-1 {
    padding: 0;
    padding-bottom: 30px;
}
#column-2-item-1 .column-text {
    padding: 10px 10px 10px 30px;
}
#c2i1-image {
    background-image: url("/img/assets/image_collage3.png");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 125px;
}

.no-gutter > [class*='col-'] {
    padding-left: 0;
    padding-right: 0;
}
.low-gutter > [class*='col-'] {
    padding-left: 5px;
    padding-right: 5px;
}
.pull-center.col-sm-7 {
    width: 57%;
}

#order-choice input[type="radio"] + label {
    font-size: 20px;
}
#order-choice input[type="radio"] + label::before {
    content: url("/img/assets/icon_no_check.png");
    display: inline-block;
    vertical-align: middle;
    padding-right: 10px;
}

#order-choice input[type="radio"]:checked + label::before {
    content: url("/img/assets/icon_check.png");
}

#limited-time-block {
    padding-bottom: 30px;
}
#limited-time-offer .promo {
    margin-top: 10px;
    margin-bottom: 20px;
}
#limited-time-offer .title {
    font-size: 20px;
}
.pre-icon-watch::before {
    content: url("/img/assets/icon_watch.png");
    display: inline-block;
    vertical-align: middle;
    padding-right: 10px;
}
@media (min-width: 768px) {
    #collage-section {
        padding-top: 0;
        padding-bottom: 0;
    }

    #collage-section .column-2 {
        margin-top: -30px;
    }

    #collage-section .column-1,
    #collage-section .column-3 {
        margin-bottom: -30px;
    }
}

@media (max-width: 978px) {
    .subscription-type {
        margin-top: 1em;
    }
}
